/*------------------------------------*\
    $VARS
\*------------------------------------*/
h1.class-1 {
  font-size: 12; }

h1.class-2 {
  font-size: 14; }

h1.class-3 {
  font-size: 16; }

h1.class-4 {
  font-size: 24; }

h1.class-5 {
  font-size: 32; }

/*.clearfix::after, clearfix::before{
	content:"";
	clear: both;
}

.clearfix::after{
	display: table;
}*/
nav ul::after, nav ul before {
  content: "";
  clear: both; }
nav ul::after {
  display: table; }

main {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto; }

/*------------------------------------*\
    $FONTS
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0000c8;
  font-weight: bold; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  color: #0000c8;
  background-color: #eb0000;
  line-height: 2;
  padding-left: .6em;
  padding-right: .6em; }
  .btn span {
    color: #00f000; }
  .btn.span {
    font-size: 2em; }
    .btn.span a {
      color: #eb0000; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
*, *::after, *::before {
  box-sizing: border-box; }

header {
  max-width: 50px;
  margin-right: auto;
  margin-left: auto; }

h1 {
  font-size: 16px;
  font-size: 1rem;
  opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  -webkit-opacity: 0.5; }

p.class-1 {
  font-size: 12px;
  font-size: 1.33333rem;
  background-color: #ff5252; }

p.class-2 {
  font-size: 14px;
  font-size: 1.14286rem;
  background-color: #ffb8b8; }

p.class-3 {
  font-size: 16px;
  font-size: 1rem;
  background-color: white; }

p.class-4 {
  font-size: 24px;
  font-size: 0.66667rem;
  background-color: white; }

p.class-5 {
  font-size: 32px;
  font-size: 0.5rem;
  background-color: white; }

p.sa {
  /* Do somthing */
  font-size: 12px;
  font-size: 1.33333rem;
  color: #eb0000; }

.caninus {
  color: brow; }
  .caninus:after {
    content: "4"; }

.felinus {
  color: white; }
  .felinus:after {
    content: "4"; }

.mouses {
  color: gray; }
  .mouses:after {
    content: "4"; }

h1, .h1 {
  margin-bottom: 1em;
  font-size: 24px;
  font-size: 0.66667rem;
  line-height: 1.5; }

h2, .h2 {
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 0.88889rem;
  line-height: 1.5; }

h3, .h3 {
  margin-bottom: 0.8em;
  font-size: 18px;
  font-size: 0.88889rem;
  line-height: 1.5; }

h4, .h4 {
  margin-bottom: 0.8em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1; }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
.grid .grid__item {
  width: 100%;
  float: left;
  margin-bottom: 1em;
  background-color: #0000c8; }
  @media all and (min-width: 37em) {
    .grid .grid__item {
      width: 49.5%; }
      .grid .grid__item:nth-of-type(odd) {
        margin-right: 1%; } }

.grid__item > [class*="width-"] {
  height: 100px;
  float: left;
  border: 1px solid grey; }

.width-1 {
  width: 20%; }

.width-2 {
  width: 40%; }

.width-3 {
  width: 60%; }

.width-4 {
  width: 80%; }

.width-5 {
  width: 100%; }

.sprite {
  width: 58px;
  height: 48px;
  background-image: url("../img/flags.png");
  float: left;
  border: 1px solid pink;
  background-position: 0 -5px; }

.sprite--sp {
  background-position: 0 -58px; }

.sprite--it {
  background-position: 0 -111px; }

.sprite--fr {
  background-position: 0 -164px; }

.sprite--de {
  background-position: 0 -217px; }

.sprite--pt {
  background-position: 0 -270px; }

.sprite--uk {
  background-position: 0 -323px; }

.sprite--us {
  background-position: 0 -376px; }

.sprite--ru {
  background-position: 0 -429px; }

.sprite--cn {
  background-position: 0 -482px; }

.sprite--br {
  background-position: 0 -535px; }

.sprite--kl {
  background-position: 0 -588px; }

.sprite--ar {
  background-position: 0 -641px; }
